{:kotoba.app/id "cloud.itonami.isic-3099", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifxrhq3onmtcxnlfkgrhag6fse6ztbfygamzhdl5ftyp3df3pluie", :kotoba.app/embed-url "ipfs://bafkreifxrhq3onmtcxnlfkgrhag6fse6ztbfygamzhdl5ftyp3df3pluie", :published {:archive "https://kotobase.net/ipfs/bafkreifxrhq3onmtcxnlfkgrhag6fse6ztbfygamzhdl5ftyp3df3pluie", :size 72863, :put-status 201, :get-status 200, :at "2026-08-15T13:30:52.884Z"}}
